
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/Favicons/E-Fav.jpg">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/drilldown.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/fab.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/login.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container m-10">
    <br />
    
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">
                <br />
                <br />
                <!-- Advanced login -->
                <form action="@Url.Action("PostLogin","Auth")" method="post" class="login-form">
                    <div class="panel panel-body">


                        <div style="color:@ViewBag.Color">
                            @ViewBag.Message
                        </div>
                        <a href="@Url.Action("Index","Home")">
                            <div class="badge bg-primary p-10 pull-right"><i class="icon-home" title="back to Home"></i></div>
                        </a>

                        <div class="text-center">
                            @*<img src="~/Content/assets/images/p2pLogo.png" width="80" height="80" alt="">*@
                            <h5 class="content-group-lg">Login To Your Account <small class="display-block">Enter your credentials</small></h5>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="email" class="form-control" placeholder="Enter Email" required name="Email">
                            <div class="form-control-feedback">
                                <i class="icon-mail5 text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" class="form-control" placeholder="Password" required name="Password">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group login-options">
                            <div class="row">
                                @*<div class="col-sm-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="styled" checked="checked">
                        remember
                    </label>
                </div>*@






                                @*<div class="pull-right mr-10">
                    <a href="@Url.Action("ForgotPassword","Auth")">Forgot Password?</a>
                </div>*@




                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn bg-blue-400 btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
                        </div>

                        <a class="pull-right" href="@Url.Action("ForgotPassword","Auth")">Forgot Password?</a>
                        <br />


                        @*<div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>

        <a href="@Url.Action("Register","Auth")" class="btn bg-pink btn-block content-group">Sign up</a>*@

                    </div>
                </form>
                <!-- /advanced login -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>
</html>
